In [2]:
import pandas as pd
import os

# 读取 'housing_hasId.csv' 文件
df_main = pd.read_csv(r"D:\s-casa毕业论文-工程\R5R_TEST1_london\Test2_onmypoi_data\housing_hasId.csv")

# 获取所有以 '15m.csv' 结尾的文件
csv_files = [f for f in os.listdir(r"D:\s-casa毕业论文-工程\R5R_TEST1_london\Test2_onmypoi_data") if f.endswith('15m.csv')]

# 对每个 '15m.csv' 文件进行操作
for csv_file in csv_files:
    # 读取文件
    df = pd.read_csv(os.path.join(r"D:\s-casa毕业论文-工程\R5R_TEST1_london\Test2_onmypoi_data", csv_file))
    
    # 新增一列，列名是文件名，值为 'accessibility' 列的值
    new_column_name = os.path.splitext(csv_file)[0]  # 去除文件扩展名
    df[new_column_name] = df['accessibility']
    
    # 根据 'id' 列连接 DataFrame，只添加新的列
    df_main = pd.merge(df_main, df[['id', new_column_name]], on='id')

# 打印结果 DataFrame
df_main

,price,address,property_type,bedrooms,bathrooms,size_square_meters,lat,lon,borough,Price_per_square_meter,...,EntertainmentAccess15m,HealthAccess15m,Infrastructure and facilitiesAccess15m,Manufacturing and productionAccess15m,OfficeAccess15m,Public transportAccess15m,Road and railAccess15m,ServiceAccess15m,ShoppingAccess15m,Water transportAccess15m
0,1300000.0,"Barking, Barking, IG11",End of Terrace,5,2,212,51.540268,0.079324,Barking and Dagenham,6132.075472,...,11,21,26,8,4,41,14,187,59,0
1,525000.0,"Gale Street, Dagenham",Semi-Detached,3,1,107,51.539742,0.127662,Barking and Dagenham,4906.542056,...,21,30,81,8,10,63,12,143,36,0
2,450000.0,"Western Avenue, Dagenham, RM10",Terraced,3,1,82,51.542795,0.172597,Barking and Dagenham,5487.804878,...,2,5,19,0,1,14,4,36,3,1
3,400000.0,"Oglethorpe Road, Dagenham",Terraced,3,1,73,51.556139,0.148446,Barking and Dagenham,5479.452055,...,3,15,51,4,2,33,5,72,12,1
4,450000.0,"Chadville Gardens, Chadwell Heath, RM6",Semi-Detached Bungalow,2,1,85,51.576866,0.129566,Barking and Dagenham,5294.117647,...,4,10,31,1,5,7,2,27,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3969,3650000.0,"Ennismore Gardens, Knightsbridge SW7",Apartment,2,2,131,51.500537,-0.169462,Westminster,27862.595420,...,19,47,54,13,26,49,11,235,246,0
3970,2500000.0,"Stanhope Terrace, \r\nHyde Park, W2",Flat,3,2,190,51.512159,-0.172806,Westminster,13157.894737,...,116,218,283,139,83,199,48,2139,811,0
3971,625000.0,"Devonshire Terrace, \r\nBayswater, W2",Flat,1,1,52,51.514094,-0.180396,Westminster,12019.230769,...,20,49,81,18,25,58,17,373,58,2
3972,1794500.0,"Smallbrook Mews, London, W2",Mews,3,2,106,51.514029,-0.178216,Westminster,16929.245283,...,43,84,140,51,34,123,32,718,225,6
3973,575000.0,"Warwick Avenue, \r\nWarwick Avenue, W9",Apartment,1,1,46,51.522983,-0.183308,Westminster,12500.000000,...,90,189,254,67,59,191,57,1124,220,10

In [3]:
df_main.to_csv(r"D:\s-casa毕业论文-工程\R5R_TEST1_london\Test2_onmypoi_data\mergeResult\housing_hasId_accessibility.csv", index=False)

In [4]:
# 打印所有的列名
print(df_main.columns)

Index(['price', 'address', 'property_type', 'bedrooms', 'bathrooms',
       'size_square_meters', 'lat', 'lon', 'borough', 'Price_per_square_meter',
       'id', 'AccommodationAccess15m', 'AirportsAccess15m',
       'Culture and tourismAccess15m', 'Eating and drinkingAccess15m',
       'EducationAccess15m', 'EntertainmentAccess15m', 'HealthAccess15m',
       'Infrastructure and facilitiesAccess15m',
       'Manufacturing and productionAccess15m', 'OfficeAccess15m',
       'Public transportAccess15m', 'Road and railAccess15m',
       'ServiceAccess15m', 'ShoppingAccess15m', 'Water transportAccess15m'],
      dtype='object')

In [5]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

# 选择作为自变量的列
features = ['bedrooms', 'bathrooms',
       'size_square_meters', 
       'AccommodationAccess15m', 'AirportsAccess15m',
       'Culture and tourismAccess15m', 'Eating and drinkingAccess15m',
       'EducationAccess15m', 'EntertainmentAccess15m', 'HealthAccess15m',
       'Infrastructure and facilitiesAccess15m',
       'Manufacturing and productionAccess15m', 'OfficeAccess15m',
       'Public transportAccess15m', 'Road and railAccess15m',
       'ServiceAccess15m', 'ShoppingAccess15m', 'Water transportAccess15m']

X = df_main[features]
y = df_main['Price_per_square_meter']

# 划分数据集为训练集和测试集
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 创建线性回归模型
model = LinearRegression()

# 拟合模型
model.fit(X_train, y_train)

# 检查模型的得分
train_score = model.score(X_train, y_train)
test_score = model.score(X_test, y_test)

print(f"训练集得分: {train_score}")
print(f"测试集得分: {test_score}")

训练集得分: 0.4028237122207462
测试集得分: 0.4016111519518506

In [6]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split

# 选择作为自变量的列
features = ['bedrooms', 'bathrooms', 'size_square_meters', 
            'AccommodationAccess15m', 'AirportsAccess15m',
            'Culture and tourismAccess15m', 'Eating and drinkingAccess15m',
            'EducationAccess15m', 'EntertainmentAccess15m', 'HealthAccess15m',
            'Infrastructure and facilitiesAccess15m',
            'Manufacturing and productionAccess15m', 'OfficeAccess15m',
            'Public transportAccess15m', 'Road and railAccess15m',
            'ServiceAccess15m', 'ShoppingAccess15m', 'Water transportAccess15m']

X = df_main[features]
y = df_main['Price_per_square_meter']

# 划分数据集为训练集和测试集
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 创建决策树回归模型
model = DecisionTreeRegressor(random_state=42)

# 拟合模型
model.fit(X_train, y_train)

# 检查模型的得分
train_score = model.score(X_train, y_train)
test_score = model.score(X_test, y_test)

print(f"训练集得分: {train_score}")
print(f"测试集得分: {test_score}")

训练集得分: 0.9993530074451191
测试集得分: 0.31803774933949824

In [9]:
# 首先，你需要安装MGWR库。可以在你的Python环境中通过以下命令进行安装：
# pip install mgwr

import pandas as pd
import numpy as np
from mgwr.gwr import GWR, MGWR
from mgwr.sel_bw import Sel_BW
from mgwr.utils import shift_colormap, truncate_colormap
import geopandas as gpd
from shapely.geometry import Point

# 假设你的数据集叫做df，'lat'和'lon'分别是经度和纬度的列名，'Price_per_square_meter'是你的目标变量，
# 而features是你的特征列名列表
coords = list(zip(df_main['lon'], df_main['lat']))
y = df_main['Price_per_square_meter'].values.reshape(-1,1)
X = df_main[features].values

# 选择合适的带宽
sel = Sel_BW(coords, y, X)
bw = sel.search()
print(f'Optimal bandwidth: {bw}')

# 训练GWR模型
gwr_model = GWR(coords, y, X, bw)
gwr_results = gwr_model.fit()

# 打印出结果
print(gwr_results.summary())

LinAlgError: Matrix is singular.

In [11]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
import pandas as pd

# 假设df是你的数据框，features是你的特征列名列表
X = df_main[features]

# 为了计算VIF，我们需要添加一个常数项
X['intercept'] = 1

# 计算VIF
vif = pd.DataFrame()
vif['feature'] = X.columns
vif['vif'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

print(vif)

                                   feature        vif
0                                 bedrooms   2.545693
1                                bathrooms   2.456098
2                       size_square_meters   2.653809
3                   AccommodationAccess15m   3.182626
4                        AirportsAccess15m   1.090414
5             Culture and tourismAccess15m  11.640319
6             Eating and drinkingAccess15m  38.590600
7                       EducationAccess15m  18.640082
8                   EntertainmentAccess15m  24.360344
9                          HealthAccess15m   4.574279
10  Infrastructure and facilitiesAccess15m  21.622123
11   Manufacturing and productionAccess15m  14.110869
12                         OfficeAccess15m  16.784986
13               Public transportAccess15m  12.959784
14                  Road and railAccess15m   3.729852
15                        ServiceAccess15m  40.906299
16                       ShoppingAccess15m   8.887956
17                Water transportAccess15m   1.600410
18                               intercept  11.408699

C:\Users\84398\AppData\Local\Temp\ipykernel_21676\527569599.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['intercept'] = 1

In [25]:
features = ['bedrooms', 'bathrooms', 'size_square_meters', 
            'AccommodationAccess15m', 'AirportsAccess15m',
            
             'HealthAccess15m',
            
            'Manufacturing and productionAccess15m', 
            'Public transportAccess15m', 'Road and railAccess15m',
            'ShoppingAccess15m', 'Water transportAccess15m']

In [26]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
import pandas as pd

# 假设df是你的数据框，features是你的特征列名列表
X = df_main[features]

# 为了计算VIF，我们需要添加一个常数项
X['intercept'] = 1

# 计算VIF
vif = pd.DataFrame()
vif['feature'] = X.columns
vif['vif'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

print(vif)

                                  feature        vif
0                                bedrooms   2.513506
1                               bathrooms   2.430879
2                      size_square_meters   2.630582
3                  AccommodationAccess15m   2.704358
4                       AirportsAccess15m   1.076118
5                         HealthAccess15m   3.889271
6   Manufacturing and productionAccess15m   3.653408
7               Public transportAccess15m   5.743851
8                  Road and railAccess15m   3.518682
9                       ShoppingAccess15m   4.372289
10               Water transportAccess15m   1.544062
11                              intercept  10.006004

C:\Users\84398\AppData\Local\Temp\ipykernel_21676\3416825916.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['intercept'] = 1

In [29]:

X = df_main[features]
y = df_main['Price_per_square_meter']

# 划分数据集为训练集和测试集
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 创建决策树回归模型
model = DecisionTreeRegressor(random_state=42)

# 拟合模型
model.fit(X_train, y_train)

# 检查模型的得分
train_score = model.score(X_train, y_train)
test_score = model.score(X_test, y_test)

print(f"训练集得分: {train_score}")
print(f"测试集得分: {test_score}")

训练集得分: 0.9993530074451191
测试集得分: 0.34631829606692044

考虑合并列之后多元回归

features = ['bedrooms', 'bathrooms', 'size_square_meters', 
            'AccommodationAccess15m', 'AirportsAccess15m',
            'Culture and tourismAccess15m', 'Eating and drinkingAccess15m',
            'EducationAccess15m', 'EntertainmentAccess15m', 'HealthAccess15m',
            'Infrastructure and facilitiesAccess15m',
            'Manufacturing and productionAccess15m', 'OfficeAccess15m',
            'Public transportAccess15m', 'Road and railAccess15m',
            'ServiceAccess15m', 'ShoppingAccess15m', 'Water transportAccess15m']

把'Water transportAccess15m','Public transportAccess15m', 'Road and railAccess15m','AirportsAccess15m'列合并为Public transportAccess15m。
把'Culture and tourismAccess15m','EntertainmentAccess15m'列合并为Culture and tourism and EntertainmentAccess15m。
把'Manufacturing and productionAccess15m', 'OfficeAccess15m'列合并为OfficeAccess15m。

In [33]:
df = pd.read_csv(r"D:\s-casa毕业论文-工程\R5R_TEST1_london\Test2_onmypoi_data\mergeResult\housing_hasId_accessibility.csv")

In [34]:
df

,price,address,property_type,bedrooms,bathrooms,size_square_meters,lat,lon,borough,Price_per_square_meter,...,EntertainmentAccess15m,HealthAccess15m,Infrastructure and facilitiesAccess15m,Manufacturing and productionAccess15m,OfficeAccess15m,Public transportAccess15m,Road and railAccess15m,ServiceAccess15m,ShoppingAccess15m,Water transportAccess15m
0,1300000.0,"Barking, Barking, IG11",End of Terrace,5,2,212,51.540268,0.079324,Barking and Dagenham,6132.075472,...,11,21,26,8,4,41,14,187,59,0
1,525000.0,"Gale Street, Dagenham",Semi-Detached,3,1,107,51.539742,0.127662,Barking and Dagenham,4906.542056,...,21,30,81,8,10,63,12,143,36,0
2,450000.0,"Western Avenue, Dagenham, RM10",Terraced,3,1,82,51.542795,0.172597,Barking and Dagenham,5487.804878,...,2,5,19,0,1,14,4,36,3,1
3,400000.0,"Oglethorpe Road, Dagenham",Terraced,3,1,73,51.556139,0.148446,Barking and Dagenham,5479.452055,...,3,15,51,4,2,33,5,72,12,1
4,450000.0,"Chadville Gardens, Chadwell Heath, RM6",Semi-Detached Bungalow,2,1,85,51.576866,0.129566,Barking and Dagenham,5294.117647,...,4,10,31,1,5,7,2,27,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3969,3650000.0,"Ennismore Gardens, Knightsbridge SW7",Apartment,2,2,131,51.500537,-0.169462,Westminster,27862.595420,...,19,47,54,13,26,49,11,235,246,0
3970,2500000.0,"Stanhope Terrace, \r\nHyde Park, W2",Flat,3,2,190,51.512159,-0.172806,Westminster,13157.894737,...,116,218,283,139,83,199,48,2139,811,0
3971,625000.0,"Devonshire Terrace, \r\nBayswater, W2",Flat,1,1,52,51.514094,-0.180396,Westminster,12019.230769,...,20,49,81,18,25,58,17,373,58,2
3972,1794500.0,"Smallbrook Mews, London, W2",Mews,3,2,106,51.514029,-0.178216,Westminster,16929.245283,...,43,84,140,51,34,123,32,718,225,6
3973,575000.0,"Warwick Avenue, \r\nWarwick Avenue, W9",Apartment,1,1,46,51.522983,-0.183308,Westminster,12500.000000,...,90,189,254,67,59,191,57,1124,220,10

标签编码的分类变量可以和数值型变量一起做多元回归和决策树回归和随机森林回归吗？
ChatGPT
是的，你可以使用标签编码的分类变量（也就是每个类别被替换为唯一的整数）和数值型变量一起进行多元线性回归、决策树回归和随机森林回归。然而，要注意的是，将分类变量编码为整数可能在某些情况下会引入假设，因为编码可能暗示存在序列或比较。这对于多元线性回归可能是个问题，因为它可能会误导模型以为分类变量之间存在某种顺序关系。

对于决策树和随机森林这样的基于树的模型，这不太可能成为一个问题，因为这些模型在分裂节点时只是简单地查看变量的值，而不是考虑它们之间的顺序关系。但是，即使在这些情况下，使用一种无序的编码方法（如独热编码）也可能是有益的，特别是在分类变量的类别具有无法通过顺序或数值大小捕获的信息时。

总的来说，你可以使用标签编码的分类变量和数值型变量一起进行这些回归任务，但需要注意使用这种编码可能会对模型造成的潜在影响

In [63]:

# 首先，我们合并相关列
df['Public transportAccess15m'] = df[['Water transportAccess15m', 'Public transportAccess15m', 'Road and railAccess15m', 'AirportsAccess15m']].sum(axis=1)
df['Culture and tourism and EntertainmentAccess15m'] = df[['Culture and tourismAccess15m', 'EntertainmentAccess15m']].sum(axis=1)
df['OfficeAccess15m'] = df[['Manufacturing and productionAccess15m', 'OfficeAccess15m']].sum(axis=1)

# 然后我们创建一个新的特征列表
new_features = ['bedrooms', 'bathrooms', 'size_square_meters', 
                'AccommodationAccess15m', 
                'Culture and tourism and EntertainmentAccess15m', 
                'Public transportAccess15m', 
                'OfficeAccess15m', 
                'Eating and drinkingAccess15m',
                'EducationAccess15m', 
                'HealthAccess15m',
                'Infrastructure and facilitiesAccess15m',
                'ServiceAccess15m', 
                'ShoppingAccess15m']

In [64]:

from sklearn.preprocessing import LabelEncoder

# 创建标签编码器
labelencoder = LabelEncoder()

# 对'borough'和'property_type'列进行标签编码
df['borough_encoded'] = labelencoder.fit_transform(df['borough'])
df['property_type_encoded'] = labelencoder.fit_transform(df['property_type'])
# 或者
pd.set_option('display.max_rows', 10) # 显示10行
df

,price,address,property_type,bedrooms,bathrooms,size_square_meters,lat,lon,borough,Price_per_square_meter,...,Manufacturing and productionAccess15m,OfficeAccess15m,Public transportAccess15m,Road and railAccess15m,ServiceAccess15m,ShoppingAccess15m,Water transportAccess15m,Culture and tourism and EntertainmentAccess15m,borough_encoded,property_type_encoded
0,1300000.0,"Barking, Barking, IG11",End of Terrace,5,2,212,51.540268,0.079324,Barking and Dagenham,6132.075472,...,8,60,139,14,187,59,0,12,0,8
1,525000.0,"Gale Street, Dagenham",Semi-Detached,3,1,107,51.539742,0.127662,Barking and Dagenham,4906.542056,...,8,66,147,12,143,36,0,29,0,20
2,450000.0,"Western Avenue, Dagenham, RM10",Terraced,3,1,82,51.542795,0.172597,Barking and Dagenham,5487.804878,...,0,1,49,4,36,3,1,4,0,23
3,400000.0,"Oglethorpe Road, Dagenham",Terraced,3,1,73,51.556139,0.148446,Barking and Dagenham,5479.452055,...,4,30,75,5,72,12,1,4,0,23
4,450000.0,"Chadville Gardens, Chadwell Heath, RM6",Semi-Detached Bungalow,2,1,85,51.576866,0.129566,Barking and Dagenham,5294.117647,...,1,12,21,2,27,4,0,6,0,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3969,3650000.0,"Ennismore Gardens, Knightsbridge SW7",Apartment,2,2,131,51.500537,-0.169462,Westminster,27862.595420,...,13,117,126,11,235,246,0,75,32,0
3970,2500000.0,"Stanhope Terrace, \r\nHyde Park, W2",Flat,3,2,190,51.512159,-0.172806,Westminster,13157.894737,...,139,1056,535,48,2139,811,0,304,32,9
3971,625000.0,"Devonshire Terrace, \r\nBayswater, W2",Flat,1,1,52,51.514094,-0.180396,Westminster,12019.230769,...,18,151,191,17,373,58,2,66,32,9
3972,1794500.0,"Smallbrook Mews, London, W2",Mews,3,2,106,51.514029,-0.178216,Westminster,16929.245283,...,51,391,389,32,718,225,6,127,32,17
3973,575000.0,"Warwick Avenue, \r\nWarwick Avenue, W9",Apartment,1,1,46,51.522983,-0.183308,Westminster,12500.000000,...,67,528,660,57,1124,220,10,215,32,0

In [65]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

# 把标签编码的分类变量添加到特征列表
new_features += ['borough_encoded', 'property_type_encoded']

# 创建一个新的 dataframe，仅包含我们的特征
X = df[new_features]
X

,bedrooms,bathrooms,size_square_meters,AccommodationAccess15m,Culture and tourism and EntertainmentAccess15m,Public transportAccess15m,OfficeAccess15m,Eating and drinkingAccess15m,EducationAccess15m,HealthAccess15m,Infrastructure and facilitiesAccess15m,ServiceAccess15m,ShoppingAccess15m,borough_encoded,property_type_encoded
0,5,2,212,0,12,139,60,141,9,21,26,187,59,0,8
1,3,1,107,0,29,147,66,98,10,30,81,143,36,0,20
2,3,1,82,0,4,49,1,23,3,5,19,36,3,0,23
3,3,1,73,1,4,75,30,49,7,15,51,72,12,0,23
4,2,1,85,0,6,21,12,10,5,10,31,27,4,0,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3969,2,2,131,10,75,126,117,133,16,47,54,235,246,32,0
3970,3,2,190,168,304,535,1056,1043,80,218,283,2139,811,32,9
3971,1,1,52,123,66,191,151,262,19,49,81,373,58,32,9
3972,3,2,106,130,127,389,391,500,32,84,140,718,225,32,17
3973,1,1,46,108,215,660,528,695,94,189,254,1124,220,32,0

In [67]:

# 创建一个数据框，用于保存 VIF
vif_data = pd.DataFrame()
vif_data['feature'] = X.columns

# 计算每个特征的 VIF
vif_data['VIF'] = [variance_inflation_factor(X.values, i) for i in range(len(X.columns))]


pd.set_option('display.max_rows', None) # 显示所有行

print(vif_data)

pd.set_option('display.max_rows', 10) # 显示10行

                                           feature        VIF
0                                         bedrooms  15.031662
1                                        bathrooms  10.555007
2                               size_square_meters   7.397381
3                           AccommodationAccess15m   3.344942
4   Culture and tourism and EntertainmentAccess15m  24.281754
5                        Public transportAccess15m   6.457783
6                                  OfficeAccess15m  21.369379
7                     Eating and drinkingAccess15m  43.779026
8                               EducationAccess15m  28.167372
9                                  HealthAccess15m   6.537747
10          Infrastructure and facilitiesAccess15m  32.665923
11                                ServiceAccess15m  53.164839
12                               ShoppingAccess15m  10.053867
13                                 borough_encoded   3.539806
14                           property_type_encoded   3.657284

One-Hot Encoding + lasso回归

lasso回归假设数据的所有特征都是数值型的，并且在回归中可以表现为线性关系。因此，对于分类变量或非线性关系，你可能需要采取其他的建模策略。

虽然你已经将property_type和borough这两个分类变量标签编码了，但是它们并不一定适合直接用于回归分析，因为标签编码引入了一个可能不存在的顺序关系。例如，如果你的borough变量包含三个值：'A', 'B', 'C'，标签编码可能会将它们转换为1，2，3。这意味着在进行回归分析时，模型会认为'B'比'A'大，'C'比'B'大，而实际上这可能并不是我们想要的。

一种更常见的处理分类变量的方法是使用独热编码（One-Hot Encoding）。独热编码会为每个类别创建一个新的虚拟变量，取值为1或0。例如，对于上述的borough变量，独热编码会创建三个新的变量：borough_A, borough_B, borough_C。如果一个样本的borough为'A'，那么borough_A为1，其他两个变量为0。

In [69]:
df_encoded

,price,address,property_type,bedrooms,bathrooms,size_square_meters,lat,lon,borough,Price_per_square_meter,...,borough_encoded_23,borough_encoded_24,borough_encoded_25,borough_encoded_26,borough_encoded_27,borough_encoded_28,borough_encoded_29,borough_encoded_30,borough_encoded_31,borough_encoded_32
0,1300000.0,"Barking, Barking, IG11",End of Terrace,5,2,212,51.540268,0.079324,Barking and Dagenham,6132.075472,...,False,False,False,False,False,False,False,False,False,False
1,525000.0,"Gale Street, Dagenham",Semi-Detached,3,1,107,51.539742,0.127662,Barking and Dagenham,4906.542056,...,False,False,False,False,False,False,False,False,False,False
2,450000.0,"Western Avenue, Dagenham, RM10",Terraced,3,1,82,51.542795,0.172597,Barking and Dagenham,5487.804878,...,False,False,False,False,False,False,False,False,False,False
3,400000.0,"Oglethorpe Road, Dagenham",Terraced,3,1,73,51.556139,0.148446,Barking and Dagenham,5479.452055,...,False,False,False,False,False,False,False,False,False,False
4,450000.0,"Chadville Gardens, Chadwell Heath, RM6",Semi-Detached Bungalow,2,1,85,51.576866,0.129566,Barking and Dagenham,5294.117647,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3969,3650000.0,"Ennismore Gardens, Knightsbridge SW7",Apartment,2,2,131,51.500537,-0.169462,Westminster,27862.595420,...,False,False,False,False,False,False,False,False,False,True
3970,2500000.0,"Stanhope Terrace, \r\nHyde Park, W2",Flat,3,2,190,51.512159,-0.172806,Westminster,13157.894737,...,False,False,False,False,False,False,False,False,False,True
3971,625000.0,"Devonshire Terrace, \r\nBayswater, W2",Flat,1,1,52,51.514094,-0.180396,Westminster,12019.230769,...,False,False,False,False,False,False,False,False,False,True
3972,1794500.0,"Smallbrook Mews, London, W2",Mews,3,2,106,51.514029,-0.178216,Westminster,16929.245283,...,False,False,False,False,False,False,False,False,False,True
3973,575000.0,"Warwick Avenue, \r\nWarwick Avenue, W9",Apartment,1,1,46,51.522983,-0.183308,Westminster,12500.000000,...,False,False,False,False,False,False,False,False,False,True

In [73]:
borough_dummies.columns

Index(['borough_Barking and Dagenham', 'borough_Barnet', 'borough_Bexley',
       'borough_Brent', 'borough_Bromley', 'borough_Camden',
       'borough_City of London', 'borough_Croydon', 'borough_Ealing',
       'borough_Enfield', 'borough_Greenwich', 'borough_Hackney',
       'borough_Hammersmith and Fulham', 'borough_Haringey', 'borough_Harrow',
       'borough_Havering', 'borough_Hillingdon', 'borough_Hounslow',
       'borough_Islington', 'borough_Kensington and Chelsea',
       'borough_Kingston upon Thames', 'borough_Lambeth', 'borough_Lewisham',
       'borough_Merton', 'borough_Newham', 'borough_Redbridge',
       'borough_Richmond upon Thames', 'borough_Southwark', 'borough_Sutton',
       'borough_Tower Hamlets', 'borough_Waltham Forest', 'borough_Wandsworth',
       'borough_Westminster'],
      dtype='object')

In [74]:
df_encoded

,price,address,property_type,bedrooms,bathrooms,size_square_meters,lat,lon,borough,Price_per_square_meter,...,borough_encoded_23,borough_encoded_24,borough_encoded_25,borough_encoded_26,borough_encoded_27,borough_encoded_28,borough_encoded_29,borough_encoded_30,borough_encoded_31,borough_encoded_32
0,1300000.0,"Barking, Barking, IG11",End of Terrace,5,2,212,51.540268,0.079324,Barking and Dagenham,6132.075472,...,False,False,False,False,False,False,False,False,False,False
1,525000.0,"Gale Street, Dagenham",Semi-Detached,3,1,107,51.539742,0.127662,Barking and Dagenham,4906.542056,...,False,False,False,False,False,False,False,False,False,False
2,450000.0,"Western Avenue, Dagenham, RM10",Terraced,3,1,82,51.542795,0.172597,Barking and Dagenham,5487.804878,...,False,False,False,False,False,False,False,False,False,False
3,400000.0,"Oglethorpe Road, Dagenham",Terraced,3,1,73,51.556139,0.148446,Barking and Dagenham,5479.452055,...,False,False,False,False,False,False,False,False,False,False
4,450000.0,"Chadville Gardens, Chadwell Heath, RM6",Semi-Detached Bungalow,2,1,85,51.576866,0.129566,Barking and Dagenham,5294.117647,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3969,3650000.0,"Ennismore Gardens, Knightsbridge SW7",Apartment,2,2,131,51.500537,-0.169462,Westminster,27862.595420,...,False,False,False,False,False,False,False,False,False,True
3970,2500000.0,"Stanhope Terrace, \r\nHyde Park, W2",Flat,3,2,190,51.512159,-0.172806,Westminster,13157.894737,...,False,False,False,False,False,False,False,False,False,True
3971,625000.0,"Devonshire Terrace, \r\nBayswater, W2",Flat,1,1,52,51.514094,-0.180396,Westminster,12019.230769,...,False,False,False,False,False,False,False,False,False,True
3972,1794500.0,"Smallbrook Mews, London, W2",Mews,3,2,106,51.514029,-0.178216,Westminster,16929.245283,...,False,False,False,False,False,False,False,False,False,True
3973,575000.0,"Warwick Avenue, \r\nWarwick Avenue, W9",Apartment,1,1,46,51.522983,-0.183308,Westminster,12500.000000,...,False,False,False,False,False,False,False,False,False,True

In [71]:

# One-hot encoding
df_encoded = pd.get_dummies(df, columns=['property_type_encoded', 'borough_encoded'])

new_features_encoded = new_features + list(borough_dummies.columns) + list(property_type_dummies.columns)

from sklearn.linear_model import LassoCV
from sklearn.model_selection import KFold
import numpy as np

# 定义自变量和因变量
X = df_encoded[new_features_encoded]
y = df_encoded['price']

# 定义交叉验证策略
kf = KFold(n_splits=5, shuffle=True, random_state=42)

# 定义一系列的 alpha 参数
alphas = np.logspace(-4, -0.5, 30)

# 创建 LassoCV 对象
lasso = LassoCV(alphas=alphas, cv=kf, random_state=42)

# 拟合数据
lasso.fit(X, y)

# 输出最优的 alpha 参数
print('Best alpha: ', lasso.alpha_)

# 输出系数
coef = pd.Series(lasso.coef_, index = X.columns)

# 输出非零系数的数量
print('Lasso picked ' + str(sum(coef != 0)) + ' variables and eliminated the other ' +  str(sum(coef == 0)) + ' variables')

KeyError: "['borough_encoded', 'property_type_encoded', 'borough_Barking and Dagenham', 'borough_Barnet', 'borough_Bexley', 'borough_Brent', 'borough_Bromley', 'borough_Camden', 'borough_City of London', 'borough_Croydon', 'borough_Ealing', 'borough_Enfield', 'borough_Greenwich', 'borough_Hackney', 'borough_Hammersmith and Fulham', 'borough_Haringey', 'borough_Harrow', 'borough_Havering', 'borough_Hillingdon', 'borough_Hounslow', 'borough_Islington', 'borough_Kensington and Chelsea', 'borough_Kingston upon Thames', 'borough_Lambeth', 'borough_Lewisham', 'borough_Merton', 'borough_Newham', 'borough_Redbridge', 'borough_Richmond upon Thames', 'borough_Southwark', 'borough_Sutton', 'borough_Tower Hamlets', 'borough_Waltham Forest', 'borough_Wandsworth', 'borough_Westminster', 'property_type_Apartment', 'property_type_Block of Apartments', 'property_type_Bungalow', 'property_type_Character Property', 'property_type_Cottage', 'property_type_Detached', 'property_type_Detached Bungalow', 'property_type_Duplex', 'property_type_End of Terrace', 'property_type_Flat', 'property_type_Ground Flat', 'property_type_Ground Maisonette', 'property_type_House', 'property_type_House Boat', 'property_type_House of Multiple Occupation', 'property_type_Link Detached House', 'property_type_Maisonette', 'property_type_Mews', 'property_type_Penthouse', 'property_type_Retirement Property', 'property_type_Semi-Detached', 'property_type_Semi-Detached Bungalow', 'property_type_Serviced Apartments', 'property_type_Terraced', 'property_type_Town House'] not in index"

在多元线性回归中使用分类变量，你需要先对分类变量进行编码，通常使用的编码方法有独热编码（One-Hot Encoding）和哑变量编码（Dummy Variable Encoding）等。在pandas库中，我们可以使用get_dummies函数来创建哑变量。

以下是如何在多元线性回归中加入分类变量borough和property_type的代码

In [44]:
import statsmodels.api as sm

# 确认没有 NaN 值
print(df_encoded[new_features_encoded + ['Price_per_square_meter']].isnull().sum())

# 删除 NaN 值的行
df_encoded = df_encoded.dropna(subset=new_features_encoded + ['Price_per_square_meter'])

# 添加常数项
X = df_encoded[new_features_encoded]
X = sm.add_constant(X)  # Adds a constant term to the predictor
y = df_encoded['Price_per_square_meter']

# 计算 VIF
vif = pd.DataFrame()
vif["variables"] = X.columns
vif["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
print(vif)

bedrooms                                          0
bathrooms                                         0
size_square_meters                                0
AccommodationAccess15m                            0
Culture and tourism and EntertainmentAccess15m    0
                                                 ..
property_type_Semi-Detached Bungalow              0
property_type_Serviced Apartments                 0
property_type_Terraced                            0
property_type_Town House                          0
Price_per_square_meter                            0
Length: 72, dtype: int64

TypeError: ufunc 'isfinite' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [ ]:

# 进行多元线性回归
model = sm.OLS(y, X)
results = model.fit()
print(results.summary())

In [ ]:

# 现在开始进行多元回归
# 添加截距项
df_encoded['intercept'] = 1

# 定义因变量和自变量
y = df_encoded['Price_per_square_meter']
X = df_encoded[new_features_encoded + ['intercept']]

# 构建多元回归模型
model = sm.OLS(y, X)

# 训练模型
results = model.fit()

# 打印模型结果
print(results.summary())

In [38]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error

# 创建决策树模型
decision_tree = DecisionTreeRegressor(random_state=42)

# 训练决策树模型
decision_tree.fit(X_train, y_train)

# 使用训练好的模型进行预测
y_train_pred = decision_tree.predict(X_train)
y_test_pred = decision_tree.predict(X_test)

# 打印训练集和测试集的得分
print("训练集得分: ", decision_tree.score(X_train, y_train))
print("测试集得分: ", decision_tree.score(X_test, y_test))

# 计算并打印均方误差
print("训练集均方误差: ", mean_squared_error(y_train, y_train_pred))
print("测试集均方误差: ", mean_squared_error(y_test, y_test_pred))

训练集得分:  0.999467295331479
测试集得分:  0.6175010104027537
训练集均方误差:  16749.88448928279
测试集均方误差:  12223813.738485554