In [22]:
import pandas as pd
import os

# 读取 'housing_hasId.csv' 文件
df_main = pd.read_csv(r"D:\POI data\poi_cleaned_data\728_original_9acc_housing_Id.csv")
df_main = df_main.drop(columns=['Public transportAccess15m'])
df_main.columns

Index(['price', 'address', 'property_type', 'bedrooms', 'bathrooms',
       'size_square_meters', 'lat', 'lon', 'borough', 'Price_per_square_meter',
       'tenure', 'garden', 'AccommodationAccess15m', 'AirportsAccess15m',
       'Eating and drinkingAccess15m', 'ShoppingAccess15m',
       'Commercial servicesAccess15m', 'EducationAccess15m', 'HealthAccess15m',
       'Manufacturing and productionAccess15m', 'id'],
      dtype='object')

In [23]:

# 获取所有以 '15m.csv' 结尾的文件
csv_files = [f for f in os.listdir(r"D:\POI data\728_7acc\reclass3") if f.endswith('15m.csv')]

# 对每个 '15m.csv' 文件进行操作
for csv_file in csv_files:
    # 读取文件
    df = pd.read_csv(os.path.join(r"D:\POI data\728_7acc\reclass3", csv_file))
    
    # 新增一列，列名是文件名，值为 'accessibility' 列的值
    new_column_name = os.path.splitext(csv_file)[0]  # 去除文件扩展名
    df[new_column_name] = df['accessibility']
    
    # 根据 'id' 列连接 DataFrame，只添加新的列
    df_main = pd.merge(df_main, df[['id', new_column_name]], on='id')

# 打印结果 DataFrame
df_main

,price,address,property_type,bedrooms,bathrooms,size_square_meters,lat,lon,borough,Price_per_square_meter,...,CultureAccess15m,EntertainmentAccess15m,GamblingAccess15m,Green parkAccess15m,Public infrastructureAccess15m,Railway stationsAccess15m,SportsAccess15m,Taxi rankAccess15m,TourismAccess15m,Underground entranceAccess15m
0,1300000,"Barking, Barking, IG11",End of Terrace,5,2,212,51.540268,0.079324,Barking and Dagenham,6132.075472,...,0,3,6,1,30,3,2,0,0,11
1,525000,"Gale Street, Dagenham",Semi-Detached,3,1,107,51.539742,0.127662,Barking and Dagenham,4906.542056,...,1,4,9,4,91,1,8,0,2,3
2,450000,"Western Avenue, Dagenham, RM10",Terraced,3,1,82,51.542795,0.172597,Barking and Dagenham,5487.804878,...,0,0,2,2,20,0,0,0,0,1
3,400000,"Oglethorpe Road, Dagenham",Terraced,3,1,73,51.556139,0.148446,Barking and Dagenham,5479.452055,...,0,0,1,1,53,0,2,0,0,0
4,450000,"Chadville Gardens, Chadwell Heath, RM6",Semi-Detached Bungalow,2,1,85,51.576866,0.129566,Barking and Dagenham,5294.117647,...,0,0,1,2,36,0,3,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3732,3650000,"Ennismore Gardens, Knightsbridge SW7",Apartment,2,2,131,51.500537,-0.169462,Westminster,27862.595420,...,16,5,3,4,80,0,11,0,36,6
3733,2500000,"Stanhope Terrace, \r\nHyde Park, W2",Flat,3,2,190,51.512159,-0.172806,Westminster,13157.894740,...,52,63,24,4,366,2,29,0,132,54
3734,625000,"Devonshire Terrace, \r\nBayswater, W2",Flat,1,1,52,51.514094,-0.180396,Westminster,12019.230770,...,16,2,6,1,106,0,12,0,29,10
3735,1794500,"Smallbrook Mews, London, W2",Mews,3,2,106,51.514029,-0.178216,Westminster,16929.245280,...,23,16,13,3,174,3,14,0,58,28
3736,575000,"Warwick Avenue, \r\nWarwick Avenue, W9",Apartment,1,1,46,51.522983,-0.183308,Westminster,12500.000000,...,17,36,20,26,313,5,34,0,82,24

In [24]:
df_main = df_main.drop('Taxi rankAccess15m', axis=1)

df_main['tenure'] = df_main['tenure'].fillna('Unknown')

df_main.to_csv(r"D:\POI data\728_7acc\housing_hasId_reclass3_acc.csv", index=False)

In [25]:
# 打印所有的列名
print(df_main.columns)

Index(['price', 'address', 'property_type', 'bedrooms', 'bathrooms',
       'size_square_meters', 'lat', 'lon', 'borough', 'Price_per_square_meter',
       'tenure', 'garden', 'AccommodationAccess15m', 'AirportsAccess15m',
       'Eating and drinkingAccess15m', 'ShoppingAccess15m',
       'Commercial servicesAccess15m', 'EducationAccess15m', 'HealthAccess15m',
       'Manufacturing and productionAccess15m', 'id',
       'Bodies of waterAccess15m', 'Bus stopAccess15m', 'CultureAccess15m',
       'EntertainmentAccess15m', 'GamblingAccess15m', 'Green parkAccess15m',
       'Public infrastructureAccess15m', 'Railway stationsAccess15m',
       'SportsAccess15m', 'TourismAccess15m', 'Underground entranceAccess15m'],
      dtype='object')