In [2]:
import pandas as pd

# 加载CSV文件
df = pd.read_csv("D:\\POI data\\poi_cleaned_data\\728_changeclass_transportation_poi.csv")

# 筛选出'Underground entrance'为1的行
filtered_df = df[df['Underground entrance'] == 1]
filtered_df

,name,pointx_class,lat,lon,poi_class,Bus stop,Railway stations,Taxi rank,Underground entrance
24116,Baker Street (Entrance C),10570794.0,51.522701,-0.157700,Underground entrance,0,0,0,1
24117,Angel (Entrance A),10570794.0,51.532776,-0.105935,Underground entrance,0,0,0,1
24118,Archway (Entrance A),10570794.0,51.565325,-0.134883,Underground entrance,0,0,0,1
24119,Archway (Entrance B),10570794.0,51.565626,-0.135174,Underground entrance,0,0,0,1
24120,Arnos Grove (Entrance A),10570794.0,51.616183,-0.133579,Underground entrance,0,0,0,1
...,...,...,...,...,...,...,...,...,...
24711,Bank (Entrance 13),10570794.0,51.512371,-0.090396,Underground entrance,0,0,0,1
24712,Bank (Entrance 11),10570794.0,51.511197,-0.087836,Underground entrance,0,0,0,1
24713,Victoria (Entrance G),10570794.0,51.496890,-0.141582,Underground entrance,0,0,0,1
24714,Battersea Power Station (Entrance A),10570794.0,51.479709,-0.142367,Underground entrance,0,0,0,1
24715,Nine Elms (Entrance A),10570794.0,51.479947,-0.128503,Underground entrance,0,0,0,1

In [4]:
from haversine import haversine

# 加载两个CSV文件
df1 = pd.read_csv("D:\\POI data\\729_acc\\729reclass3_add_distanceToCenter.csv")

# 定义一个函数来计算每个点到filtered_df中的所有点的最短距离
def min_distance(row):
    lat_lon = (row['lat'], row['lon'])
    distances = [haversine(lat_lon, (lat, lon)) for lat, lon in zip(filtered_df['lat'], filtered_df['lon'])]
    return min(distances)

# 应用该函数到df1的每一行
df1['distance_to_underground_entrance'] = df1.apply(min_distance, axis=1)

# 查看结果
print(df1[['lat', 'lon', 'distance_to_underground_entrance']])

            lat       lon  distance_to_underground_entrance
0     51.540268  0.079324                          0.162045
1     51.539742  0.127662                          0.069027
2     51.542795  0.172597                          0.487616
3     51.556139  0.148446                          1.611618
4     51.576866  0.129566                          2.711404
...         ...       ...                               ...
3732  51.500537 -0.169462                          0.444533
3733  51.512159 -0.172806                          0.190751
3734  51.514094 -0.180396                          0.349226
3735  51.514029 -0.178216                          0.242344
3736  51.522983 -0.183308                          0.040612

[3737 rows x 3 columns]

In [5]:
df1

,price,address,property_type,bedrooms,bathrooms,size_square_meters,lat,lon,borough,Price_per_square_meter,...,EntertainmentAccess15m,GamblingAccess15m,Green parkAccess15m,Public infrastructureAccess15m,Railway stationsAccess15m,SportsAccess15m,TourismAccess15m,Underground entranceAccess15m,distance_to_center,distance_to_underground_entrance
0,1300000,"Barking, Barking, IG11",End of Terrace,5,2,212,51.540268,0.079324,Barking and Dagenham,6132.075472,...,3,6,1,30,3,2,0,11,14.833076,0.162045
1,525000,"Gale Street, Dagenham",Semi-Detached,3,1,107,51.539742,0.127662,Barking and Dagenham,4906.542056,...,4,9,4,91,1,8,2,3,18.091683,0.069027
2,450000,"Western Avenue, Dagenham, RM10",Terraced,3,1,82,51.542795,0.172597,Barking and Dagenham,5487.804878,...,0,2,2,20,0,0,0,1,21.216907,0.487616
3,400000,"Oglethorpe Road, Dagenham",Terraced,3,1,73,51.556139,0.148446,Barking and Dagenham,5479.452055,...,0,1,1,53,0,2,0,0,19.921521,1.611618
4,450000,"Chadville Gardens, Chadwell Heath, RM6",Semi-Detached Bungalow,2,1,85,51.576866,0.129566,Barking and Dagenham,5294.117647,...,0,1,2,36,0,3,0,0,19.456034,2.711404
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3732,3650000,"Ennismore Gardens, Knightsbridge SW7",Apartment,2,2,131,51.500537,-0.169462,Westminster,27862.595420,...,5,3,4,80,0,11,36,6,2.991852,0.444533
3733,2500000,"Stanhope Terrace, \r\nHyde Park, W2",Flat,3,2,190,51.512159,-0.172806,Westminster,13157.894740,...,63,24,4,366,2,29,132,54,3.169093,0.190751
3734,625000,"Devonshire Terrace, \r\nBayswater, W2",Flat,1,1,52,51.514094,-0.180396,Westminster,12019.230770,...,2,6,1,106,0,12,29,10,3.726588,0.349226
3735,1794500,"Smallbrook Mews, London, W2",Mews,3,2,106,51.514029,-0.178216,Westminster,16929.245280,...,16,13,3,174,3,14,58,28,3.576969,0.242344
3736,575000,"Warwick Avenue, \r\nWarwick Avenue, W9",Apartment,1,1,46,51.522983,-0.183308,Westminster,12500.000000,...,36,20,26,313,5,34,82,24,4.225337,0.040612

In [ ]:
# 保存df1到指定的路径
df1.to_csv("D:\\POI data\\810_acc\\reclass3_add_distanceTounderground.csv", index=False)